# Go data science

*.jpg
*.png
*.html
*.svg
*.exe
*.out
*.log
*.tmp
*.exe~
*.out~
*.log~
*.tmp~
*.DS_Store
.vscode/
.idea/
bin/
obj/
vendor/
coverage.out
*.bin
main
*.test
*.exe
*.exe~
*.out
*.out~
*.log
*.log~
*.tmp
*.tmp~